*{
    margin: 0;
    padding: 0;  
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
padding-top: 56px;

}


.navbar-toggler{
    color: rgba(251, 251, 251, 0.58) ;
    background-color: #a8d5eb7d;
}

.btn-nav{
    text-decoration: none;
}

.btn-volver{
    margin-left: 10px;
}

.ico{
    font-size: 1.3rem;
    cursor: pointer;
}



.bg-navbar{
    background-color: #00202e;
}
.slide img{
    height: 60vh;
}

#color-body{
    background-color:   #00455a;
    color: white;
}
.color-container-tokio{
    background-color:#00202e;
    box-shadow: 0 0 10px rgba(236, 232, 232, 0.865);
}

.titulo-modal{
    font-weight: 600;
}
.titulo-modal, .cuerpo-modal{
    color: black;
}

.color{
    color: black;
}

footer{
    margin-top: auto;
    height: 100%;
    background-color: #00202e;
    width: 100%;
}

.bg-footer{
    background-color: #00202e;
    height: 250px;
    width: 100%;
}

.text-footer{
    padding-right: 0 0;
    width: 100%;
}

.ico-redes{
    color: #00c8ff;
}

.li-letra{
    font-size: 1.6rem;
}

@media screen and (max-width:767px){
    .btn-actividad{
        margin: 0 0;
    }
    .bg-footer{
        height: 500px;
    }
    .text-footer{
        gap: 30px;
    }
}

@media screen and (max-width:576px){
    .relleno{
        padding: 0 30px;
    }
}
 .tokio-img img{
    height: auto;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(236, 232, 232, 0.865);

 }
 .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 }
 .formulario input, .formulario textarea {
  width: 300px; /* Esto hace que los elementos tengan un ancho de 300px */
  margin: 0 auto; /* Esto hace que los elementos tengan un margen automático a los lados */
}


@media screen and (max-width:383px){
    .bg-footer{
        height: 480px;
    }
}