*{
    margin: 0;
    padding: 0;
 }
 
body{
display: flex;
flex-direction: column;
min-height: 100vh;
padding-top: 56px;
}

.navbar-toggler{
    color: rgba(251, 251, 251, 0.58) ;
    background-color: #a8d5eb7d;
}

.btn-nav{
    text-decoration: none;
}

.link-recuperacion{
    color: rgb(133, 133, 133);
    font-weight: bold;
}


.ico-candado{
    font-size: 4.5rem;
}

.titulo-recuperacion{
    font-size: 1.5rem;
}

.linea-gris{
    border: 1px solid #eaeaea;
    margin: 20px 0;
}
.ico{
    font-size: 2.5rem;
    margin-left: 10px;
}


footer{
    margin-top: auto;
    height: 100%;
    background-color: #00202e;
    width: 100%;
}

.bg-footer{
    background-color: #00202e;
    height: 250px;
    width: 100%;
}

.text-footer{
    padding-right: 0 0;
    width: 100%;
}

.ico-redes{
    color: #00c8ff;
}

.li-letra{
    font-size: 1.6rem;
}

.bg-navbar{
    background-color: #00202e;
}

.img-fondo{
    display: flex;
   height: 100vh;
   width: 100vw;
    object-position: top;
}

.bg-contact{
    background-color: #8bcde956;    
}

.bg{
    background-image: url(../img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
}

@media screen and (max-width:767px){
    
    .bg-footer{
        height: 500px;
    }
    .text-footer{
        gap: 30px;
    }

}

@media screen and (max-width:383px){
    .bg-footer{
        height: 480px;
    }
}

@media screen and (max-width:370px){
    .titulo-recuperacion{
        font-size: 1.25rem;
    }
}